.CertificateItem {
    margin: 1rem 0;
}

.CertificateItem .header {
    display: flex;
    justify-content: space-between;
}

.CertificateItem .title {
    color: #5A4F5A;
    font-size: 20px;
    font-weight: 500;
}
