.InterpreterPage {
    margin: auto;
    padding: 20px 2rem;
    max-width: 1000px;
}

.InterpreterPage .menuWrapper {
    margin: 2rem 1rem 0 1rem;
}

.InterpreterPage .window {
    margin: 0rem 1rem 0 1rem;
}

.InterpreterPage .noEvents {
    margin: 1rem;
    text-align: center;
}

.InterpreterPage .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.InterpreterPage .fileUpload {
    margin: 10px 0;
}

.InterpreterPage .currentPassword {
    margin: 0 10px;
}

.InterpreterPage .label {
    font-weight: 400;
    font-size: 19px;
    margin: -3px 20px 0 0;
}

.InterpreterPage .menu {
    padding: 1rem 1.5rem 0 1.5rem;
}

.InterpreterPage .menuItemWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.InterpreterPage .menuItemWrapper:hover {
    transform: translateX(10px);
}

.InterpreterPage .menuItem {
    color: black;
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 500;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.InterpreterPage .menuItem:hover {
    color: #03a0b5;
}

.InterpreterPage .activeMenuItem {
    color: #03a0b5;
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 500;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.InterpreterPage .userInfo {
    display: inline-flex;
    align-items: center;
}

.InterpreterPage .userName {
    margin-left: .5rem;
    font-size: 22px;
    font-weight: 600;
}

.InterpreterPage .userCard {
    margin: 1rem 0;
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px lightgrey;
    border-radius: 10px;
}

.InterpreterPage .window {
    margin-top: 2rem;
}

.InterpreterPage .dot {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    margin: 0 1rem .5rem 0;
}

.InterpreterPage .activeDot {
    height: 8px;
    width: 8px;
    background-color: #03a0b5;
    border-radius: 50%;
    margin: 0 1rem .5rem 0;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.InterpreterPage .checkIcon {
    margin-left: .5rem;
}

.InterpreterPage .flexArea {
    display: flex;
    align-items: center;
}

.InterpreterPage .rating {
    margin-left: .4rem;
}

.InterpreterPage .langFieldIcons {
    margin-top: .9rem;
}

.InterpreterPage .langFieldIcon:hover {
    filter: brightness(150%);
}

.InterpreterPage .reviewWindow {
    height: 600px;
    overflow-y: scroll;
}

.InterpreterPage .reviewCard {
    margin: 1rem 1rem;
    padding: .5rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px lightgrey;
    border-radius: 10px;
    -webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.InterpreterPage .reviewCard:hover {
    box-shadow: 0px 6px 18px lightgray;
    transform: translateY(-5px);
}

.InterpreterPage .noItems {
    margin: 1rem;
    text-align: center;
}
