.Container {
    margin: auto;
    padding: 20px 2rem;
    max-width: 1000px;
}

.Container .noEvents {
    margin: 1rem;
    text-align: center;
}

.Container .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.Container .fileUpload {
    margin: 10px 0;
}

.Container .currentPassword {
    margin: 0 10px;
}

.Container .label {
    font-weight: 400;
    font-size: 19px;
    margin: -3px 20px 0 0;
}

.Container .menu {
    padding: 1rem 1.5rem 0 1.5rem;
}

.Container .menuItemWrapper {
    display: flex;
    align-items: center;
}

.Container .menuItem {
    color: black;
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 500;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.Container .menuItem:hover {
    color: #03a0b5;
}

.Container .activeMenuItem {
    color: #03a0b5;
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 500;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.Container .userInfo {
    display: inline-flex;
    align-items: center;
}

.Container .userName {
    margin-left: .5rem;
    font-size: 22px;
    font-weight: 600;
}

.Container .userCard {
    margin: 1rem 0;
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px lightgrey;
    border-radius: 10px;
}

.Container .window {
    margin-top: 2rem;
}

.Container .dot {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    margin: 0 1rem .5rem 0;
}

.Container .activeDot {
    height: 8px;
    width: 8px;
    background-color: #03a0b5;
    border-radius: 50%;
    margin: 0 1rem .5rem 0;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.Container .checkIcon {
    margin-left: .5rem;
}

.Container .flexArea {
    display: flex;
    align-items: center;
}

.Container .rating {
    margin-left: .4rem;
}

.Container .langFieldIcons {
    margin-top: .9rem;
}

.Container .langFieldIcon:hover {
    filter: brightness(150%);
}

.Container .reviewWindow {
    height: 600px;
    overflow-y: scroll;
}

.Container .reviewCard {
    margin: 1rem 1rem;
    padding: .5rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px lightgrey;
    border-radius: 10px;
    -webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.Container .reviewCard:hover {
    box-shadow: 0px 6px 18px lightgray;
    transform: translateY(-5px);
}
