.EventCard {
    margin: 1rem 0;
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px lightgrey;
    border-radius: 10px;
    -webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.EventCard .past {
    opacity: 0.8;
}

.EventCard:hover {
    box-shadow: 0px 8px 25px lightgray;
    transform: translateY(-5px);
}

.EventCard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.EventCard .eventTitle {
    font-weight: 600;
    font-size: 25px;
}

.EventCard .dateLocation {
    text-align: right;
}

.EventCard .date {
    font-size: 15px;
    font-weight: 500;
}

.EventCard .location {
    font-size: 15px;
}

.EventCard .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;
}

.EventCard .note {
    font-size: 12px;
    font-weight: 500;
    color: green;
}

.EventCard .buttons {
    display: flex;
    align-items: center;
}
