.Container {
    margin: auto;
    padding: 0 2rem;
    max-width: 800px;
}


.Container .title {
    font-size: 30px;
    color: #027888;
}

.Container .horzLine {
    margin: 3rem 15%;
    border: 2px solid #03A0B5;
    border-radius: 20px;
}
