
.Hit {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.Hit:hover {
    box-shadow: 0px 8px 25px lightgrey;
    transform: translateY(-5px);
}

.Hit .avatar {
    border-radius: 10px;
    margin-left: .5rem;
    padding: .5rem;
    min-width: 120px;
    max-width: 150px;
}

.Hit .content {
    padding: .8rem;
}

.Hit .name {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.Hit .languages {
    font-size: 20px;
    line-height: 27px;
    color: #027888;
}

.Hit .location, .email {
    line-height: 22px;
}
