.AdminPage {
  margin: auto;
  max-width: 1000px;
}

.AdminPage .menuWrapper {
  margin: 2rem 1rem 0 1rem;
}

.AdminPage .window {
  margin: 0rem 1rem 0 1rem;
}

.AdminPage .title {
  font-size: 20px;
}

.AdminPage .noItems {
  margin: 1rem;
  text-align: center;
}

.AdminPage .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.AdminPage .window {
  margin-top: 2rem;
}

.AdminPage .adminCodeButton {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}

.AdminPage .menu {
  padding: 1rem 1.5rem 0 1.5rem;
}

.AdminPage .menuItemWrapper {
  display: flex;
  align-items: center;
  -webkit-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.AdminPage .menuItemWrapper:hover {
  transform: translateX(10px);
}

.AdminPage .menuItem {
  color: black;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.AdminPage .menuItem:hover {
  color: #03a0b5;
}

.AdminPage .activeMenuItem {
  color: #03a0b5;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.AdminPage .dot {
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  margin: 0 1rem 0.5rem 0;
}

.AdminPage .activeDot {
  height: 8px;
  width: 8px;
  background-color: #03a0b5;
  border-radius: 50%;
  margin: 0 1rem 0.5rem 0;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
