.Modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal .card {
    padding: 1rem;
    width: 90%;
    max-width: 800px;
    background: #FFFFFF;
    border-radius: 10px;
    -webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.Modal .title {
    font-weight: 500;
    font-size: 25px;
    line-height: 45px;
}

.Modal .footer {
    display: flex;
    flex-direction: column;
}

.Modal .buttons {
    display: flex;
    justify-content: flex-end;
    margin: 1rem .5rem;
}

.Modal .kindArea {
    align-items: center;
    display: flex;
}

.Modal .label {
    font-weight: 400;
    font-size: 19px;
    margin: -3px 20px 0 0;
}

.Modal .serviceLabel {
    font-weight: 400;
    font-size: 19px;
    margin: 10px 0 -10px 0;
}

.Modal .langFieldIcons {
    margin-top: .9rem;
}

.Modal .langFieldIcon:hover {
    filter: brightness(150%);
}

.Modal .fileUpload {
    margin: 10px 0;
}

.Modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
