.EventCard {
    margin: 1.5rem 0;
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px lightgrey;
    border-radius: 10px;
    -webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.EventCard:hover {
    box-shadow: 0px 8px 25px rgba(3, 160, 181, 0.25);
    transform: translateY(-5px);
}

.EventCard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -.5rem -.5rem 0 -.5rem;
}

.EventCard .eventTitle {
    font-weight: bold;
    font-size: large;
}

.EventCard .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: -.5rem -.5rem 0 -.5rem;
}
