.Navigation li:hover:not(.active) {
    color: black;
    border-bottom: 2px solid #03A0B5;
  }
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vmin;
}

a {
  text-decoration: none;
  color: black;
}

.left-side-nav {
  display: flex;
  align-items: center;
}
