.Navigation {
  display: block;
  color: black;
}

.Navigation ul {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
}

.Navigation ul:hover:not(.active) {
    color: black;
    border-bottom: 2px solid #03A0B5;
  }

.Navigation nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vmin;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}

.Navigation .leftSideNav {
  display: flex;
  align-items: center;
}

.Navigation Button{
  margin-left: 35px;
}
