.PreviewCard {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 400px;
    margin: 0 3rem;
    -webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.PreviewCard:hover {
    box-shadow: 0px 8px 10px lightgrey;
    transform: translateY(-5px);
}

.PreviewCard .avatar {
    margin: 1rem;
}

.PreviewCard .content {
    padding: 1rem;
}

.PreviewCard .name {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
}

.PreviewCard .languages {
    font-size: 20px;
    line-height: 30px;
    color: #027888;
}

.PreviewCard .location, .email {
    line-height: 30px;
}
