.Hit {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    min-width: 400px;
    margin: -15px 0 30px -35px;
    -webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.Hit:hover {
    box-shadow: 0px 8px 25px lightgrey;
    transform: translateY(-5px);
}

.Hit .avatar {
    border-radius: 10px;
    min-width: 150px;
    max-width: 200px;
}

.Hit .content {
    padding: 1rem;
}

.Hit .name {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
}

.Hit .languages {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #027888;
}

.Hit .location, .email {
    line-height: 30px;
}
