.SearchPage {
  margin: 0 10% 0 5%;
}

.ais-Panel-header {
  font-weight: bolder;
  margin: 0;
  padding: 0 16px 8px;
  font-size: inherit;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}

.ais-RefinementList-item,
.ais-RefinementList-noResults {
  padding: 8px 16px;
}

.ais-RefinementList-label {
  cursor: pointer;
}

.ais-RefinementList-labelText,
.ais-RefinementList-labelText:hover {
  color: black;
  cursor: pointer;
}

.ais-RefinementList-count {
  background: none;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  color: #999;
  float: right;
}

.ais-RefinementList-item--selected .ais-RefinementList-label {
  font-weight: 700;
}

.ais-RefinementList-checkbox {
  margin: 0;
}

.ais-RefinementList-labelText {
  margin-left: 0.6em;
}

.ais-RefinementList-item--selected .ais-RefinementList-labelText,
.ais-RefinementList-item--selected .ais-RefinementList-count {
  font-weight: normal;
}

.ais-RangeSlider .rheostat-handle {
  width: 19px;
  height: 19px;
  border: solid 2px #5468ff;
  top: -6px;
  margin-left: -10px;
}

.ais-RangeSlider-wrapper {
  position: relative;
}

.ais-RangeSlider {
  margin: 30px 45px;
}

.ais-RangeSlider-numbers {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -10px;
  padding: 0 5px;
  width: 100%;
}

.ais-RangeSlider .rheostat-horizontal .rheostat-handle {
  top: -6px;
}

.ais-RangeSlider .rheostat-progress {
  height: 5px;
  top: 1px;
  background: #5468ff;
}

.ais-RangeSlider--marker {
  display: none;
}

.ais-RangeSlider--body {
  padding: 0 11px 0 16px;
}

.ais-RangeSlider .rheostat-background {
  height: 3px;
  top: 2px;
  width: 100%;
  background-color: #ddd;
  border: none;
}

.ais-RangeSlider--tooltip {
  background: transparent;
}

#pagination {
  order: 1;
}

.ais-Pagination-list {
  display: flex;
  margin: 0 0 16px;
  padding: 0;
  background: none;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  box-shadow: none;
  flex-wrap: wrap;
}

.ais-Pagination-link {
  display: block;
}

.ais-Pagination-item,
.ais-Pagination-item--disabled {
  flex: 0 0 40px;
  width: auto;
  height: auto;
  margin: 4px;
  background: #03A0B5;
  border: 2px solid rgb(39, 194, 214);
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  border-radius: 4px;
  transition: all 0.1s linear;
}

.ais-Pagination-item--disabled {
  display: none;
}

.ais-Pagination-item:hover,
.ais-Pagination-item--selected {
  border: 2px solid #03A0B5;
  background: rgb(39, 194, 214);
}

.ais-Pagination-item .ais-Pagination-link,
.ais-Pagination-item--disabled .ais-Pagination-link {
  padding: 6px 16px;
  text-decoration: none;
  color: #fff;
  line-height: 20px;
}

footer {
  flex-grow: 0;
  text-align: center;
  font-size: 12px;
  color: #999;
}

/* Placeholders */

#searchbox:empty:before,
/* #hits:empty:before, */
#categories:empty:before,
#brands:empty:before,
#price:empty:before,
#stats:empty:before,
#pagination:empty:before {
  display: block;
  color: #999;
  padding: 16px;
}

#searchbox:empty,
/* #hits:empty, */
#categories:empty,
#brands:empty,
#price:empty,
#stats:empty,
#pagination:empty {
  padding: 0;
  background: none;
  border: dashed 3px #ddd;
  box-shadow: none;
  border-radius: 4px;
}

#searchbox:empty,
#stats:empty,
/* #hits:empty, */
#pagination:empty {
  margin-bottom: 24px;
}

#searchbox:empty:before {
  content: "Uncomment the searchBox widget to add a search bar.";
}

#hits:empty:before {
  content: "Uncomment the hits widget to add hits list.";
}

#stats:empty:before {
  content: "Uncomment the stats widget to add search stats.";
}

#categories:empty:before {
  content: "Uncomment the categories widget to add categories list.";
}

#brands:empty:before {
  content: "Uncomment the brands widget to add brands list.";
}

#price:empty:before {
  content: "Uncomment the price widget to add price.";
}

#pagination:empty:before {
  content: "Uncomment the pagination widget to add pagination.";
}

