.AboutUsPage {
  margin: auto;
  padding-top: 1rem;
  /* max-width: 1000px; */
}

.AboutUsPage .title {
  font-size: 30px;
  line-height: 30px;
  color: #027888;
  text-align: center;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.AboutUsPage .title:hover {
  color: rgb(39, 194, 214);
}
