.Container {
    margin: auto;
    padding: 20px 2rem;
    max-width: 800px;
}

.Container .noEvents {
    margin: 1rem;
    text-align: center;
}

.Container .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.Container .fileUpload {
    margin: 10px 0;
}

.Container .currentPassword {
    margin: 0 10px;
}

.Container .label {
    font-weight: 400;
    font-size: 19px;
    margin: -3px 20px 0 0;
}
